body{
    font-size: 16 px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #b3cce2, #d9ccc1);
}
h1{
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-align: center;
    background-color: #005eb0;
    color: #d9ccc1;
}
h2{
    font-size: 1,5rem;
    background-color: #005eb0;
    color: #d9ccc1;
}
p{
    font-size: 1rem;
    color: #024059;

}
data{
    text-align: left;
    color: darkslategray;
    font: italic;
    font-size: 0.8rem;
}
motivacional{
    letter-spacing: 1.5rem;
    text-align: justify;
    font-family: 'Tilt Neon', sans-serif;


}
autor{
    
    color: darkslategray;
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
}
.strikethrough {
    position: relative;
  }
  .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 60%;
    right: 0;
    border-top: 2px solid;
    border-color:inherit;
    
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -ms-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
  }
  .your-style {
    font-family: 'Tilt Neon';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tilt Neon';
    src: url(fonts.withgoogle.com/tilt/tilt-neon.ttf) format('truetype'); 
  }